[tool.poetry]
name = "meteofrance-api"
version = "1.0.2"
description = "Python client for Météo-France API."
authors = ["oncleben31 <oncleben31@gmail.com>", "quentame <polletquentin74@me.com>", "HACF <contact@hacf.fr>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/hacf-fr/meteofrance-api"
repository = "https://github.com/hacf-fr/meteofrance-api"
documentation = "https://meteofrance-api.readthedocs.io"
keywords = ["weather", "weather-api", "meteo"]
classifiers = [
    "Operating System :: OS Independent",
    "Development Status :: 5 - Production/Stable",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "License :: OSI Approved :: MIT License",
]

[tool.poetry.urls]
Changelog = "https://github.com/hacf-fr/meteofrance-api/releases"

[tool.poetry.dependencies]
python = "^3.6.1"
requests = "^2.25.1"
urllib3 = "^1.26.6"
pytz = ">=2020.4,<2023.0"
typing-extensions = {version = "^3.7.4", python = "~3.6 || ~3.7"}

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
requests_mock = "^1.9.2"
coverage = {extras = ["toml"], version = "^6.0"}
safety = "^1.10.3"
mypy = "^0.910"
typeguard = "^2.13.0"
xdoctest = {extras = ["colors"], version = "^0.15.10"}
sphinx = "^4.2.0"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^2.15.0"
flake8 = "^3.9.2"
black = "^20.8b1"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^21.9.2"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.3"
pep8-naming = "^0.12.1"
darglint = "^1.8.1"
reorder-python-imports = "^2.5.0"
pre-commit-hooks = "^4.0.1"
sphinx-rtd-theme = "^1.0.0"
sphinx-click = "^3.0.1"
Pygments = "^2.10.0"
types-requests = "^2.28.2"
types-pytz = "^2021.1.2"

[tool.poetry.scripts]
meteofrance-api = "meteofrance_api.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["meteofrance_api"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[tool.mypy]
strict = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
