[tool.poetry]
name = "meteofrance-api"
version = "0.1.0-beta1"
license = "MIT"
description = "Python client for Météo-France API."
authors = ["oncleben31 <oncleben31@gmail.com>"]
homepage = "https://github.com/hacf-fr/meteofrance-api"
repository = "https://github.com/hacf-fr/meteofrance-api"
keywords = ["weather", "weather-api", "meteo"]
readme = "README.md"
packages = [
    { include = "meteofrance", from = "src" },
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
]


[tool.poetry.dependencies]
python = "^3.6"
requests = "^2.24.0"
pytz = "^2020.1"

[tool.poetry.dev-dependencies]
pytest = "^5.4.3"
requests_mock = "^1.8.0"
pytest-cov = "^2.10.0"
coverage = {version = "^5.2.1", extras = ["toml"]}
flake8 = "^3.8.3"
flake8-docstrings = "^1.5.0"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["meteofrance"]

[tool.coverage.report]
show_missing = true
precision = 1

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

